@model RezervationVB.Models.rezerve
@{
    ViewData["Title"] = "RezerveGetir";
    Layout = "~/Views/Shared/_LayoutTümlesik.cshtml";
}
<br />
<h3 class="card-header">Rezervasyon Güncelle</h3>

<div class="container row shadow">
    <div class="col-md-12 mt-5 mb-5">

        @using (Html.BeginForm("RezerveGuncelle", "Rezerve", FormMethod.Post))
        {


            <div style="margin-top:15px">
                <label class="font-weight-bold">Rezerve ID</label>

                @Html.TextBoxFor(x => x.rezerveid, new { @class = "form-control" })

            </div>

            <div style="margin-top:15px">
                <label class="font-weight-bold">Sicil No</label>
                @Html.TextBoxFor(x => x.sicilno, new { @class = "form-control" })

            </div>

            <div style="margin-top:15px">
                <label class="font-weight-bold">Personel Adı</label>
                @Html.TextBoxFor(x => x.kullaniciadi, new { @class = "form-control" })

            </div>

            <div style="margin-top:15px">
                <label class="font-weight-bold">Rezerve Başlangıç Tarihi   @Html.TextBoxFor(x => x.rezervebaslangic, new { @class = "form-control" })</label>


            </div>

            <div style="margin-top:15px">
                <label class="font-weight-bold">Rezerve Bitiş Tarihi @Html.TextBoxFor(x => x.rezervebitis, new { @class = "form-control" })</label>


            </div>
            <div style="margin-top:15px">
                <label class="font-weight-bold">Masa Etiketi</label>
                 @*@Html.TextBoxFor(x => x.masaid ,new { @class = "form-control" })*@
                @Html.DropDownListFor(x => x.masaid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

            </div>



                    <div style="margin-top:15px">
                        <a href="/Rezerve/Index/" class="btn btn-primary">Vazgeç&nbsp;</a>
                        <button class="btn btn-success">Güncelle</button>

                    </div>


                }
            </div>
        </div>


